/* Coolors Exported Palette - https://coolors.co/c4b1ae-b4ada3-bfb59e-cab7a2-858786 */

/* CSS HEX */
--silver-pink: #c4b1aeff;
--silver-chalice: #b4ada3ff;
--khaki-web: #bfb59eff;
--khaki-web-2: #cab7a2ff;
--battleship-grey: #858786ff;

/* CSS HSL */
--silver-pink: hsla(8, 16%, 73%, 1);
--silver-chalice: hsla(35, 10%, 67%, 1);
--khaki-web: hsla(42, 20%, 68%, 1);
--khaki-web-2: hsla(32, 27%, 71%, 1);
--battleship-grey: hsla(150, 1%, 53%, 1);

/* SCSS HEX */
$silver-pink: #c4b1aeff;
$silver-chalice: #b4ada3ff;
$khaki-web: #bfb59eff;
$khaki-web-2: #cab7a2ff;
$battleship-grey: #858786ff;

/* SCSS HSL */
$silver-pink: hsla(8, 16%, 73%, 1);
$silver-chalice: hsla(35, 10%, 67%, 1);
$khaki-web: hsla(42, 20%, 68%, 1);
$khaki-web-2: hsla(32, 27%, 71%, 1);
$battleship-grey: hsla(150, 1%, 53%, 1);

/* SCSS RGB */
$silver-pink: rgba(196, 177, 174, 1);
$silver-chalice: rgba(180, 173, 163, 1);
$khaki-web: rgba(191, 181, 158, 1);
$khaki-web-2: rgba(202, 183, 162, 1);
$battleship-grey: rgba(133, 135, 134, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-right: linear-gradient(90deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-bottom: linear-gradient(180deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-left: linear-gradient(270deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-top-right: linear-gradient(45deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-bottom-right: linear-gradient(135deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-top-left: linear-gradient(225deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-bottom-left: linear-gradient(315deg, #c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);
$gradient-radial: radial-gradient(#c4b1aeff, #b4ada3ff, #bfb59eff, #cab7a2ff, #858786ff);