/* Coolors Exported Palette - https://coolors.co/000807-a2a3bb-9395d3-b3b7ee-fbf9ff */
/* SCSS HEX */
$rich-black-fogra-39: #000807ff;
$manatee: #a2a3bbff;
$blue-bell: #9395d3ff;
$maximum-blue-purple: #b3b7eeff;
$ghost-white: #fbf9ffff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(173, 100%, 2%, 1);
$manatee: hsla(238, 16%, 68%, 1);
$blue-bell: hsla(238, 42%, 70%, 1);
$maximum-blue-purple: hsla(236, 63%, 82%, 1);
$ghost-white: hsla(260, 100%, 99%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(0, 8, 7, 1);
$manatee: rgba(162, 163, 187, 1);
$blue-bell: rgba(147, 149, 211, 1);
$maximum-blue-purple: rgba(179, 183, 238, 1);
$ghost-white: rgba(251, 249, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-right: linear-gradient(90deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-bottom: linear-gradient(180deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-left: linear-gradient(270deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-top-right: linear-gradient(45deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-bottom-right: linear-gradient(135deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-top-left: linear-gradient(225deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-bottom-left: linear-gradient(315deg, #000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);
$gradient-radial: radial-gradient(#000807ff, #a2a3bbff, #9395d3ff, #b3b7eeff, #fbf9ffff);